# Core Vision & Numeric Processing
opencv-contrib-python>=4.5.0
numpy>=1.20.0

# Benchmark Data Analysis & Plotting
pandas>=1.3.0
matplotlib>=3.4.0

# Robotics & Navigation Support (Optional)
pygeodesy
